@import 'base/reset';
@import 'base/mixin';
@import 'base/mobile';
@import 'base/tablet';
@import 'base/dreamshare';
@font-face{
  font-family: 'Montserrat-regular';
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face{
  font-family: 'Montserrat-Bold';
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face{
  font-family: 'Montserrat-Light';
  src: url(fonts/Montserrat-Light.ttf);
}