@media screen and (max-width:540px) {
  $whiteColor: #FFFFFF;
  $regular: 'Montserrat-regular';
  $bold: 'Montserrat-Bold';
  $light: 'Montserrat-Light';

  header {
    @include size(100%, 540px);

    .headerContainer {
      @include size(320px, 540px);
      @include bgPos(10px, 0px);
      margin: 0 auto;
      background-image: url(./img/Background.png);
      background-repeat: no-repeat;
      overflow: hidden;

      .nav {
        @include size(100%, 36px);
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding-left: 57px;

        &__logIn {
          @include size(90px, 100%);
          @include textSize(14px, 17.07px);
          font-family: $regular;
          color: $whiteColor;
          background: transparent;
          border-radius: 40px;
          border: 1px solid transparent;
          outline: none;
          padding-top: 3px;
          padding-left: 14px;
        }

        &__signUp {
          @include size(90px, 100%);
          @include textSize(14px, 17.07px);
          font-family: $regular;
          padding-right: 15px;
          color: $whiteColor;
          background: transparent;
          border-radius: 40px;
          outline: none;
          border: 2px solid $whiteColor;
          padding-top: 4px;
          padding-right: 5px;
        }
      }

      // nav End
      .headerPromo {
        @include size(281px, 234px);
        margin: 97px 20px 0px 30px;
        text-align: center;

        h3 {
          @include textSize(20px, 24px);
          font-family: $bold;
          color: $whiteColor;
          padding-left: 2px;
        }

        h1 {
          @include textSize(30px, 37px);
          font-family: $bold;
          color: $whiteColor;
          margin-top: 27px;
          margin-bottom: 5px;
        }

        span {
          @include textSize(18px, 24px);
          font-family: $light;
          color: #F7F3F2;
          word-spacing: -1px;
          letter-spacing: -1px;
        }

        &__button {
          @include size(280px, 40px);
          @include textSize(14px, 17px);
          background: #FF4E50;
          border: 1px solid transparent;
          border-radius: 40px;
          outline: none;
          color: $whiteColor;
          margin-top: 16px;
          padding-top: 5px;
          font-family: $bold;
        }
      }
    }


    //headerPromo end
  }

  //header end
  main{
    width: 100%;
    .mainContainer{
      width: 320px;
      margin: 0 auto;
      .howItWorks {
        @include size(300px, 781px);
        overflow: hidden;
        margin: 34px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h1 {
          @include textSize(22px, 27px);
          font-family: $bold;
          color: #444444;
        }

        .steps {
          overflow: hidden;
          width: 300px;
          height: 240px;
          box-sizing: border-box;
          padding-top: 64px;
          padding-left: 20px;

          &__button {
            @include size(70px, 20px);
            @include textSize(10px, 12.9px);
            font-family: $regular;
            color: $whiteColor;
            letter-spacing: 2px;
            background: #FF4E50;
            border: 1px solid transparent;
            border-radius: 40px;
            padding-top: 5px;
            padding-left: 8px;
            margin-bottom: 46px;
          }

          h3 {
            @include textSize(24px, 14px);
            font-family: $bold;
            color: $whiteColor;
            margin-bottom: 24px;
          }

          span {
            display: block;
            width: 250px;
            @include textSize(14px, 14px);
            font-family: $light;
            color: #E3E3E3;
            letter-spacing: -1px;
            word-spacing: 1px;
          }
        }

        .steps:nth-child(2) {
          background-image: url(./img/Step1image.png);
          margin-top: 15px;
        }

        .steps:nth-child(3) {
          background-image: url(./img/Step2image.png);
          margin-top: 10px;
          padding-top: 95px;

          .steps__button {
            margin-bottom: 29px;
            padding-right: 8px;
          }
        }

        .steps:nth-child(4) {
          background-image: url(./img/Step3image.png);
          margin-top: 10px;

          .steps__button {
            padding-left: 6px;
          }
        }
      }

      //howItWorks end
      .meetPartner {
        @include size(300px, 1034px);
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 4px;
        position: relative;

        h3 {
          height: 54px;
          @include textSize(22px, 26.82px);
          font-family: $bold;
          color: #444444;
          text-align: center;
        }

        .partner {
          @include size(236px, 205px);
          margin-top: -65px;

          .avatar {
            @include size(120px, 120px);
            margin: 0px auto;
            border-radius: 50%;
            position: relative;
          }

          h3 {
            height: 18px;
            @include textSize(14px, 17px);
            font-family: $bold;
            color: #444444;
          }

          span {
            display: block;
            width: 100%;
            @include textSize(14px, 14px);
            font-family: $light;
            color: #666666;
            text-align: center;
            letter-spacing: -1px;
            word-spacing: 1px;
            margin-top: 20px;
          }
        }

        .partner:nth-child(2) {
          h3 {
            margin-top: 19px;
          }

          .avatar {
            background-image: url(./img/Bitmap1.png);
          }

          .avatar::after {
            content: '';
            @include size(32px, 32px);
            position: absolute;
            background: #FF4E50;
            background-image: url(./img/Shape3.png);
            background-repeat: no-repeat;
            background-position-x: 9px;
            background-position-y: 8px;
            border-radius: 50%;
            bottom: -4px;
            right: -4px;
            border: 4px solid white;
          }
        }

        .partner:nth-child(3) {
          h3 {
            margin-top: 19px;
          }

          span {
            margin-top: 25px;
          }

          .avatar {
            background-image: url(./img/Bitmap.png);
          }

          .avatar::after {
            content: '';
            @include size(32px, 32px);
            position: absolute;
            background: #FFA710;
            background-image: url(./img/Shape2.png);
            background-repeat: no-repeat;
            background-position-x: 8px;
            background-position-y: 8px;
            border-radius: 50%;
            bottom: -4px;
            right: -4px;
            border: 4px solid white;
          }
        }

        .partner:nth-child(3) {
          @include size(236px, 224px);
        }

        .partner:nth-child(4) {
          h3 {
            margin-top: 19px;
          }

          span {
            margin-top: 20px;
          }

          .avatar {
            background-image: url(./img/Bitmap2.png);
          }

          .avatar::after {
            content: '';
            @include size(32px, 32px);
            position: absolute;
            background: #19D4CA;
            background-image: url(./img/Shape1.png);
            background-repeat: no-repeat;
            background-position-x: 8px;
            background-position-y: 7px;
            border-radius: 50%;
            bottom: -4px;
            right: -4px;
            border: 4px solid white;
          }
        }

        .partner:nth-child(5) {
          h3 {
            margin-top: 19px;
          }

          span {
            margin-top: 20px;
          }

          .avatar {
            background-image: url(./img/Bitmap3.png);
          }

          .avatar::after {
            content: '';
            @include size(32px, 32px);
            position: absolute;
            background: #667DF3;
            background-image: url(./img/Shape.png);
            background-repeat: no-repeat;
            background-position-x: 8px;
            background-position-y: 10px;
            border-radius: 50%;
            bottom: -4px;
            right: -4px;
            border: 4px solid white;
          }
        }

        &__button {
          @include size(280px, 40px);
          @include textSize(14px, 17px);
          background: transparent;
          border: 2px solid #FF4E50;
          border-radius: 40px;
          color: #FF4E50;
          outline: none;
          position: absolute;
          bottom: 0;
          font-family: $bold;
          bottom: 4px;
          font-family: "Montserrat-Bold";
          padding-top: 5px;
          padding-right: 1px;
        }
      }

      //meetPartner end
      .holidayIdeas {
        @include size(300px, 1000px);
        margin: 31px auto 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h3 {
          width: 280px;
          @include textSize(22px, 27px);
          font-family: $bold;
          color: #444444;
          text-align: center;
        }

        .activity {
          @include size(300px, 120px);
          @include textSize(22px, 27px);
          font-family: $bold;
          color: $whiteColor;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          background: #000000;
          position: relative;

          .mask {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            mix-blend-mode: normal;
            opacity: 0.8;
          }

          h4 {
            width: 206px;
            text-align: center;
            mix-blend-mode: normal;
            opacity: 0.8;
            padding-top: 32px;
          }
        }

        .activity:nth-child(2) {
          margin-top: 23px;

          h4 {
            padding-top: 20px;
          }

          .mask {
            background-image: url(./img/BitmapA.png);
          }
        }

        .activity:nth-child(3) {
          .mask {
            background-image: url(./img/BitmapA1.png);
          }
        }

        .activity:nth-child(4) {
          .mask {
            background-image: url(./img/BitmapA2.png);
          }
        }

        .activity:nth-child(5) {
          h4 {
            padding-top: 45px;
          }

          .mask {
            background-image: url(./img/BitmapA3.png);
          }
        }

        .activity:nth-child(6) {
          h4 {
            width: 261px;
            padding-top: 45px;
          }

          .mask {
            background-image: url(./img/BitmapA4.png);
          }
        }

        .activity:nth-child(7) {
          h4 {
            width: 278px;
            padding-top: 45px;
          }

          .mask {
            background-image: url(./img/BitmapA5.png);
          }
        }

        .activity:nth-child(8) {
          h4 {
            padding-top: 45px;
          }

          .mask {
            background-image: url(./img/BitmapA6.png);
          }
        }
      }

      //holidayIdeas end
      .interests {
        @include size(300px, 192px);
        margin: 22px auto 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h3 {
          @include textSize(22px, 27px);
          font-family: $bold;
          color: #444444;
          text-align: center;
          margin-bottom: 12px;
        }

        span {
          display: block;
          @include textSize(18px, 14px);
          font-family: $light;
          color: #666666;
          text-align: start;
          letter-spacing: -1px;
        }

        &__text {
          @include size(280px, 40px);
          background: #FFFFFF;
          border: 1px solid #D4D4D4;
          box-sizing: border-box;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          border-radius: 3px;
          margin-top: 10px;
        }

        &__text::placeholder {
          @include textSize(14px, 16px);
          font-family: $light;
          color: #999999;
          padding-left: 11px;
          letter-spacing: -0.5px;
        }

        &__button {
          @include size(280px, 40px);
          @include textSize(14px, 17px);
          font-family: $bold;
          color: $whiteColor;
          background: #FF4E50;
          border: 1px solid transparent;
          border-radius: 40px;
          margin-bottom: -6px;
          padding-top: 6px;
          padding-left: 17px;
        }
      }

      //interests end
    }
  }

  footer {
    @include size(100%, 204px);
    border-top: 2px solid #FF4E50;
    margin-top: 40px;

    .footContainer {
      @include size(300px, 100%);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
      align-content: flex-start;

      h3 {
        @include textSize(16px, 20px);
        @include size(100%, 17px);
        font-family: $regular;
        color: #FF4E50;
        text-align: center;
      }

      h4 {
        @include textSize(14px, 17px);
        @include size(200px, 15px);
        font-family: $bold;
        color: #444444;
        text-align: center;
        margin-top: 15px;
      }

      ul {
        @include textSize(14px, 17px);
        @include size(203px, 48px);
        font-family: $bold;
        color: #444444;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 2px;

        li {
          @include textSize(14px, 26px);
          font-family: $light;
          color: #999999;
        }
      }

      #pt {
        margin-top: 12px;
        margin-bottom: 16px;
      }

      span {
        @include textSize(10px, 12px);
        display: block;
        width: 280px;
        font-family: $bold;
        letter-spacing: 1px;
        color: #CCCCCC;
        text-align: center;
        padding-left: 3px;
      }

      .imgAuthor {
        @include size(110px, 24px);
        background-image: url(./img/foot.png);
        margin: 6px auto 0px;
      }
    }
  }

  //footer end
}